In [5]:
from __future__ import unicode_literals

import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlite3
import seaborn as sns

# Set plotting style
plt.style.use('seaborn-white')
FONTSIZE="xx-large"
COLORS = cm.viridis(np.linspace(0.4, 1, 7))

%matplotlib inline

In [6]:

# Date conversion function
def date_columns(query):
    """If a date column is included in the query, parse it as a date in the
    dataframe."""
    dates = []
    fields = ["Collision_Date", "Process_Date"]
    if '*' in query:
        dates = fields
    else:
        for date in fields:
            if date in query:
                dates.append(date)

        if not dates:
            dates = None

    return dates

In [7]:
def run_query(query, sql_file="./switrs.sqlite3"):
    """ Read sqlite query results into a pandas DataFrame. """
    with sqlite3.connect(sql_file) as con:
        # Construct a Dataframe from the results
        df = pd.read_sql_query(
            query,
            con,
            parse_dates = date_columns(query),
        )

        return df

In [8]:
query = (
    "SELECT Collision_Date, COUNT(1) as Crashes "
    "FROM Collision AS C "
    "WHERE Collision_Date IS NOT NULL "
    "AND Collision_Date <= '2015-12-31' "  # 2016 is incomplete
    "GROUP BY Collision_Date"
)

df = run_query(query)

DatabaseError: Execution failed on sql 'SELECT Collision_Date, COUNT(1) as Crashes FROM Collision AS C WHERE Collision_Date IS NOT NULL AND Collision_Date <= '2015-12-31' GROUP BY Collision_Date': no such table: Collision