In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.040896     0.025979    -0.018965    -0.027054
std       0.991511     0.967616     1.045229     1.009720
min      -3.508793    -2.930343    -2.955634    -2.918775
25%      -0.703916    -0.633723    -0.724893    -0.698478
50%      -0.020014    -0.014974    -0.025513    -0.064177
75%       0.647959     0.692852     0.685659     0.645576
max       3.038222     4.095484     3.170009     3.857522

In [9]:
col = data[2]
col[np.abs(col) > 3]

423    3.078815
607    3.049757
722    3.170009
738    3.024025
Name: 2, dtype: float64

In [10]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
100  0.310629  4.095484 -0.080488 -0.848625
163  3.038222  0.295567  0.021546 -0.161107
174 -1.915392 -0.639750  0.424588  3.857522
333 -0.236650  3.021228  0.708133 -0.629649
423  1.128346  1.319460  3.078815 -0.557702
430 -3.508793 -0.105365 -0.047767 -0.699810
541  0.264568 -0.015221 -0.780893  3.448134
607 -0.026599  1.371577  3.049757 -1.094720
643  0.668342  0.475601  1.104268  3.082043
722  0.991174 -0.058334  3.170009 -0.060137
738 -2.172929  1.239443  3.024025 -0.073482
941  2.587836  3.489699  0.402902  0.171874